
<div class="panel panel-default add-menu-item">
	<div class="panel-heading">
		<h1>Edit Menu Item</h1>
	</div>
	<div class= "panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
  	<p><%= link_to 'Back', menu_items_path %></p>
  </div>
</div>