

<div class="jumbotron">
<%= link_to 'New Menu item', new_menu_item_path if current_user && @user.admin %>
<%= render 'menu.html.erb' %>
<% if current_cart.cart_items != nil && current_cart.cart_items.length > 0 %>
  <%= link_to "Checkout", '#checkout' , rel:"facebox" %>
<% end %>
</div>

