<div class="jumbotron">
	<%= link_to 'Add New Menu item(s)', new_menu_item_path, class: "btn btn-default" if current_user && @user.admin %>
	<%= render 'menu.html.erb' %>
	<%= link_to "Proceed to Cart", cart_path ,  class: "btn btn-default" if current_cart.cart_items != nil && current_cart.cart_items.length > 0 %>
</div>

