<base target="_parent" />

<script type="text/javascript">

  function setupBT() {
    braintree.setup("<%=@client_token%>", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Checkout</h1>
    <%= session[:order] %>
  </div>
  <div class-"panel-body">
    <div class="payment-form-padding">
    <%= render 'payment/form' %>
    </div>
  </div>
</div>

