<h1> Orders </h1>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Time</th>
			<th>Completed?</th>
		</tr>
	</thead>
	<tbody>
		<%= sync_new partial: 'order_list_row', resource: Order.new %>
		<% @orders.order!(created_at: :desc) %>
		<% @orders.each do |order| %>
			<% if order.completed != true %>
			<%= sync partial: 'order_list_row', resource: order  %>
			<% end %>
		<% end %>
	</tbody>
</table>
