<h1> Orders </h1>
<table class="tabel">
	<thead>
		<tr>
			<th>ID</th>
			<th>Time</th>
			<th>Completed?</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.order!(created_at: :desc) %>
		<% @orders.each do |order| %>
			<% if order.completed != true %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.created_at.strftime("%l:%M%P %m/%d/%y") %> </td>
					<td> <%=order.completed%> </td>
					<td>
						<%= link_to icon('square-o' , class: "fa-lg square-o add_subtract_buttons"), root_path(:order_id => order.id), :method => :post  , class: "no-hover hvr-grow"  %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
