<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Checkout</h1>
	</div>
	<div class-"panel-body">
		<div class="payment-form-padding">
		<%= render 'payment/form' %>
		</div>
	</div>
	<div class="panel-footer">
		<%= link_to "Edit your order", cart_path %>
	</div>
</div>
