<div class="center jumbotron">
	<h1>About</h1>
	<p>Session Id:<%= session.id %></p>
	<p><%= link_to "Test" , "#test1" , 'aria-expanded' => "false" , 'aria-controls' => "test1" , 'data-toggle' => "collapse" , class: "btn btn-info"  %></p>
<p class="collapse" id="test1">hidden</p>
</div>
