<div id="Booking-info" class="containter">
    <div class="catering-info">
    	<h1>Catering</h1>
    	<p>Welcome to our online catering scheduler.  Click on a day to schedule a reservation and add your approximate number of guests.  Once your catering time has been approved (24-48 horus), you will be sent an email with instructions on how to finish your order, select food, and add payment.</p>
    </div>
    <div class = "calendar">
    	<iframe name="bookingframe" width="340px" height="700px" allowtransparency="true" style="transition: height 210ms cubic-bezier(0.39, 0.575, 0.565, 1); -webkit-transition: height 210ms cubic-bezier(0.39, 0.575, 0.565, 1); border: 0px; z-index: 9999;"  frameborder="0" src="http://m.supersaas.com/schedule/FoodHaus/Catering">
    	</iframe>
    </div>
</div>  