<div class="jumbotron">
	<h2>Settings</h2>
		<div class="settings">
			<p><%= link_to "Add Menu Items", new_menu_item_path, class: "btn btn-default" %></p>
			<p><%= link_to "Edit/Delete Menu Items", menu_items_path, class: "btn btn-default" %></p>
			<p><%= link_to "Add/Edit Menu Sections", new_menu_item_path, class: "btn btn-default" %></p>
		<div>
</div>