// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Booking-info {
	display:inline-block;
}
.catering-info {
	float:left;
	margin:10px;
	margin: 10px;
	width: 65%;
	min-width: 300px;
}

.calendar {
	float:left;
	margin:10px;
	width: 25%;
	min-width: 300px;
}