<%= form_for(@catering_order) do |f| %>
  <% if @catering_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catering_order.errors.count, "error") %> prohibited this catering_order from being saved:</h2>

      <ul>
      <% @catering_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
